{erl_opts, [
   %native, {hipe, o3},
   {parse_transform, lager_transform}
]}.

{lib_dirs, [".", "deps"]}.
{cover_enabled, true}.

{deps, [
   % logging fw
   {lager, ".*",
      {git, "https://github.com/basho/lager", {tag, '1.2.1'}}
   }

  % erlang toolkit
  ,{feta, ".*",
      {git, "http://github.com/fogfish/feta", {branch, master}}
   }

  % process library
  ,{plib, ".*",
      {git, "http://github.com/kfsm/plib", {branch, master}}
   }

  % process pipe
  ,{pipe, ".*",
      {git, "http://github.com/kfsm/pipe", {branch, master}}
   }

  % state machine handler
  ,{kfsm, ".*",
      {git, "http://github.com/kfsm/kfsm", {branch, master}}
   }

  % unit of work
  ,{pq, ".*",
      {git, "http://github.com/fogfish/pq", {branch, master}}
   }
]}.
